autopep8==1.5
certifi==2023.7.22
chardet==3.0.4
docopt==0.6.2
idna==2.9
lxml==4.9.1
Pillow==9.3.0
pipreqs==0.4.12
pycodestyle==2.5.0
python-pptx==0.6.18
requests==2.31.0
urllib3==1.26.17
XlsxWriter==1.2.8
yarg==0.1.9
